*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: wheat;
    display: grid;
    grid-template-rows: 100px 10fr auto;
    min-height: 100vh;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgb(245, 230, 206);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
}

header h1{
    padding-left: 2rem;
}

header form{
    justify-self: end;
    position: relative;
    padding-right: 2rem;
}

header input{
    border-radius: 3em;
    padding: 6px 18px;
    padding-right: 32px;
    width: 22rem;
    font-size: 16px;
}

header form svg{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2.2rem;
    top: 1px;

}


.bookshelf{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 250px;
    gap: 1rem;
    overflow-y: auto;
}

.book-slot{
    position: relative;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.book-slot .details{
    display: flex;
    flex-direction: column;
}

.book-slot .details h2{
    margin-bottom: 1rem;
}

.book-slot .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.book-slot img{
    width: 120px;
    height: 170px;
    border-radius: 10px;
}

.book-slot button{
    background-color: rgb(218, 106, 106);
    width: 4rem;
    height: 2rem;
    align-self: flex-end;
    border-radius: 10px;
}








footer{
    background-color: rgb(245, 230, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}